<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(@changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(@changeset.revision, hosted_url(:changeset, @changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log clearfix">      
     <%= simple_format(h(@changeset.message)) %>
    <span class="timenauthor">by <%= @changeset.author %>, <%= jstime @changeset.changed_at %></span>
  </div>
</div>

<h3>
  <%= pluralize(@change.comments.size, 'comment') %> for this change. 
  <%= link_to "Return to revision #{@changeset.revision}.", changeset_path(@changeset) %>
</h3>

<% if @change.diffable? -%>
  <%= diff_for @change %>
  <%= render(:partial => 'comments', :locals => { :comments => @change.comments }) %>
<% end -%>