<% @fullscreen = true %>
<% title "Changeset #{@changeset.revision}, #{h(@changeset.message)}" %>
<% unless @message -%>
<div class="changeset clearfix" id="last-log">
	<%= render :partial => 'meta', :locals => {:changeset => @changeset, :user => @changeset.user} %>
  <ul class="changeset-nav">
    <li class="prev"><%= link_to 'Previous Changeset', hosted_url(:changeset, previous_changeset), :class => 'back' if previous_changeset %></li>
    <li class="next"><%= link_to 'Next Changeset', hosted_url(:changeset, next_changeset), :class => 'forward' if next_changeset %></li>
  </ul>
</div>
<% end -%>

<ul id="change-list">
<%= render :partial => "changes", :locals => { :changeset => @changeset, :changes => @changes } %>
</ul>

<% @changes.select(&:diffable?).each do |change| -%>
  <%= diff_for change %>    
<% end -%>

<%= will_paginate @changes %>